<h2>投稿一覧</h2>

<p><%= notice %></p>

<% @blogs.each do |blog| %>

  <div class="single_blog">
    <p class="blog_title"><%= blog.title %></p>
    <p class="blog_content"><%= blog.content %></p>
    <div class="blog_link">
      <span><%= link_to '詳細へ', blog_path(blog.id) %></span>
      <span><%= link_to "編集する", edit_blog_path(blog.id) %></span>
      <span><%= link_to "削除する", blog_path(blog.id), method: :delete, data: { confirm: '本当に削除しますか？' }  %></span>
    </div>
  </div>

<% end %>

<p class="to_other_page"><%= link_to '新しく投稿する', new_blog_path %></p>
